.App {
  text-align: center;
}

.App-logo {
    animation: logo-ease-in 1 1.5s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes logo-ease-in {
  from {
      transform: translateY(-25px);
      opacity: 0.0;
  }
  to {
      transform: translateY(0px);
      opacity: 1.0;
  }
}
